<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hello Adonis</title>
</head>
<body>
  <p>It works!</p>

  @if(currentUser)
    @each((realName, stageName) in characters)
      {{ stageName }} <br>
    @endeach
  @endif
</body>
</html>
